@font-face {
  font-family: "BIZ UDPGothic";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100;
  src: url("/fonts/blog/second-post/BIZUDPGothic.woff2") format("woff2");
}


@font-face {
  font-family: "Geist Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100;
  src: url("/fonts/blog/second-post/GeistMono.woff2") format("woff2");
}

